.enxrf { 
  margin-left: 67px;
  margin-bottom: 31px;
  margin-bottom: 97px;
  border-top-width: 14px;
  padding-left: 82px;
  margin-bottom: 47px;
  padding-left: 90px;
  padding-left: 4px;
  border-top-width: 82px;
  border-left-width: 35px;
  border-bottom-width: 59px;
  margin-right: 82px;
  font-size: 52px;
  padding-top: 15px;
  border-bottom-width: 82px;
  border-left-width: 54px;
  margin-left: 97px;
  margin-left: 78px;
  padding-left: 66px;
  padding-left: 15px;
}
